<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="33" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:targetApi="30" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="33">
        <activity
            android:name=".ui.anuncios.misanuncios.MisAnuncios"
            android:exported="false" />
        <activity
            android:name=".ui.anuncios.misanuncios.Anunciosmios"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.anuncios.AnuncioDetalles"
            android:exported="false" />
        <activity
            android:name=".ui.chat.Chat"
            android:exported="false" />
        <activity
            android:name=".ui.anuncios.CrearAnuncio"
            android:exported="false" />
        <activity
            android:name=".GeneralParam.Config"
            android:exported="false" />
        <activity
            android:name=".GeneralParam.PDFvista"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="true"
            android:label="Registro" />
        <activity
            android:name=".Logueo"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.chat.MessaginService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDepzj1jx2DThRcKei_pFfl5EXcBg3BXDs" />
    </application>

</manifest>